.todo-list {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

  .todo:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .params .todo:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    font-size: 1rem;
    color: $LdarkGrayishBlue;
  }

  .filters {
    display: flex;
    align-items: center;
    gap: 1rem;

    .tab {
      cursor: pointer;
    }
    .tab.active {
      color: $primary-blue;
    }
  }
  .clear button {
    border: none;
    outline: none;
    background: none;

    cursor: pointer;

    font-size: 1rem;
    color: $LdarkGrayishBlue;

    transition: 0.5s;

    &:hover {
      color: $LveryDarkGrayishBlue;
    }
  }
}
