.App {
  min-width: 100vw;
  min-height: 100vh;

  padding-top: 5rem;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  .container {
    max-width: 90%;
    margin: 0 auto;
    z-index: 1;
  }

  &.light {
    background: #fff;
  }
  &.dark {
    background: $DveryDarkBlue;
  }
}

.bg {
  width: 100%;
  height: 45vh;
  max-height: 45vh;

  position: absolute;
  top: 0;
  left: 0;

  background: $primary-bg;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  z-index: 0;
}
.bg.light {
  background-image: url("../../assets/images/bg-mobile-light.jpg");
}
.bg.dark {
  background-image: url("../../assets/images/bg-mobile-dark.jpg");
}

@media (min-width: 1024px) {
  .App {
    .container {
      min-width: 50%;
      max-width: 50%;
    }
    .bg.light {
      background-image: url("../../assets/images/bg-desktop-light.jpg");
    }
    .bg.dark {
      background-image: url("../../assets/images/bg-desktop-dark.jpg");
    }
  }
}
