.App {
  min-width: 100vw;
  min-height: 100vh;

  padding-top: 4rem;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  .container {
    width: 90%;

    z-index: 1;
  }

  .dnd {
    margin-top: 2rem;

    font-size: 1em;
  }

  &.light {
    background: #fff;

    .dnd {
      color: $LdarkGrayishBlue;
    }
  }
  &.dark {
    background: $DveryDarkBlue;

    .dnd {
      color: $DveryDarkGrayishBlueHover;
    }
  }
}

.bg {
  width: 100%;
  min-height: 300px;
  max-height: 45vh;

  position: absolute;
  top: 0;
  left: 0;

  background: $primary-bg;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  z-index: 0;
}
.bg.light {
  background-image: url("../../assets/images/bg-mobile-light.jpg");
}
.bg.dark {
  background-image: url("../../assets/images/bg-mobile-dark.jpg");
}

.tip {
  color: white;
  margin-top: 2rem;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .App {
    .container {
      max-width: 70%;
    }
    .bg.light {
      background-image: url("../../assets/images/bg-desktop-light.jpg");
    }
    .bg.dark {
      background-image: url("../../assets/images/bg-desktop-dark.jpg");
    }
  }
}

@media (min-width: 1024px) {
  .App {
    .container {
      max-width: 800px;
    }
  }
}

@media (min-width: 1440px) {
  .App {
    .container {
      max-width: 1000px;
    }
  }
}
