.create-todo {
  margin-bottom: 1.5rem;
  padding: 1em;

  border-radius: 5px;

  form {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
  }

  input[type="text"] {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    border: none;
    outline: none;

    background: inherit;
    font-family: $fontFamily;
    color: inherit;

    transition: 0.5s;
  }
}

.create-todo.light {
  background: $LveryLightGray;
  color: $LveryDarkGrayishBlue;

  input::placeholder {
    color: $LlightGrayishBlue;
    font-weight: 700;
    font-family: $fontFamily;
  }
}
.create-todo.dark {
  color: $LlightGrayishBlue;
  background: $DveryDarkDesaturatedBlue;

  input::placeholder {
    color: $LveryDarkGrayishBlue;
    font-weight: 700;
    font-family: $fontFamily;
  }
}

// @media (min-width: 1660px) {
//   .create-todo {
//     font-size: 1.5em;
//   }
// }
