.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;

  font-size: 1.3rem;
  font-weight: 400;

  position: relative;
  transition: 0.5s;

  &:hover .closing {
    display: block;
  }

  .body {
    display: flex;
    align-items: center;

    p {
      user-select: none;
      cursor: pointer;
    }
  }

  .closing {
    width: 25px;
    height: 25px;

    margin-right: 0.5rem;

    display: none;

    position: absolute;
    top: 50%;
    right: 1rem;

    transform: translateY(-50%);

    cursor: pointer;
    transition: 0.3s;

    animation: fade 0.5s;

    &:hover .line {
      background: $LlightGrayishBlue;
    }
    &:active {
      transform: translateY(-50%) scale(0.55);
    }
    .line {
      position: absolute;
      top: 50%;
      right: 0;

      transform: translateY(-50%);

      display: block;

      width: 100%;
      height: 1px;

      background: $LdarkGrayishBlue;
    }
    .line:first-child {
      transform: rotate(45deg);
    }
    .line:last-child {
      transform: rotate(-45deg);
    }
  }
}
.todo.light.completed {
  text-decoration: line-through;
  color: $LlightGrayishBlue;
}
.todo.dark.completed {
  text-decoration: line-through;
  color: $LveryDarkGrayishBlue;
}

.todo.light {
  color: $LveryDarkGrayishBlue;
  border-bottom: 1px solid $LlightGrayishBlue;
  background: $LveryLightGray;
}
.todo.dark {
  color: $LlightGrayishBlue;
  border-bottom: 1px solid $LveryDarkGrayishBlue;
  background: $DveryDarkDesaturatedBlue;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
