.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;

  font-size: 1.1em;
  font-weight: 400;

  position: relative;
  transition: 0.5s;

  cursor: pointer;

  animation: todo 0.3s;

  .body {
    width: 100%;

    display: flex;
    align-items: center;

    p {
      max-width: 75%;
      user-select: none;
      cursor: pointer;
    }
  }

  .closing {
    width: 1em;
    height: 1em;

    margin-right: 0.5rem;

    position: absolute;
    top: 50%;
    right: 1rem;

    transform: translateY(-50%);

    cursor: pointer;
    transition: 0.3s;

    animation: fade 0.5s;

    &:hover .line {
      background: $LlightGrayishBlue;
    }
    &:active {
      transform: translateY(-50%) scale(0.55);
    }
    .line {
      position: absolute;
      top: 50%;
      right: 0;

      transform: translateY(-50%);

      display: block;

      width: 100%;
      height: 1px;

      background: $LdarkGrayishBlue;
    }
    .line:first-child {
      transform: rotate(45deg);
    }
    .line:last-child {
      transform: rotate(-45deg);
    }
  }
}

.todo.params {
  cursor: auto;
}

.todo.light.completed {
  text-decoration: line-through;
  color: $LlightGrayishBlue;
}
.todo.dark.completed {
  text-decoration: line-through;
  color: $LveryDarkGrayishBlue;
}

.todo.light {
  color: $LveryDarkGrayishBlue;
  border-bottom: 1px solid $LlightGrayishBlue;
  background: $LveryLightGray;

  &:not(.params):hover {
    background: $LveryLightGrayHover;
  }
}
.todo.dark {
  color: $LlightGrayishBlue;
  border-bottom: 1px solid $LveryDarkGrayishBlue;
  background: $DveryDarkDesaturatedBlue;

  &:not(.params):hover {
    background: $DveryDarkGrayishBlueHover;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes todo {
  0% {
    transform: translateY(-10px);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .todo {
    font-size: 1.5em;
    &:hover .closing {
      display: block;
    }
    .body {
      p {
        max-width: 90%;
      }

      .closing {
        display: none;
      }
    }
  }
}

// @media (min-width: 1660px) {
//   .todo {
//     font-size: 2em;
//   }
// }
