.header {
  width: 100%;

  margin-bottom: 130px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1;

  h1 {
    font-size: 2em;
    letter-spacing: 1rem;
    font-weight: 700;
    color: #fff;
  }

  button {
    border: none;
    outline: none;
    background: none;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 75px;
  }
}
