// colors

$primary-blue: #3a7bfd;
$primary-bg: linear-gradient(to left, #57ddff, #c058f3);
$primary-bg-buttons: linear-gradient(#57ddff, #c058f3);

// light theme
$LveryLightGray: #fafafa;
$LveryLightGrayishBlue: #e4e5f1;
$LlightGrayishBlue: #d2d3db;
$LdarkGrayishBlue: #9394a5;
$LveryDarkGrayishBlue: #484b6a;

// dark theme
$DveryDarkBlue: hsl(235, 21%, 11%);
$DveryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$DlightGrayishBlue: hsl(234, 39%, 85%);
$DlightGrayishBlueHover: hsl(236, 33%, 92%);
$DdarkGrayishBlue: hsl(234, 11%, 52%);
$DveryDarkGrayishBlue: hsl(233, 14%, 35%);
$DveryDarkGrayishBlueHover: hsl(237, 14%, 26%);

// Typography

$fz: 18px;
$fontFamily: "Josefin Sans", sans-serif;
